* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --navBar: 4rem;
    --white: white;
    --yellow: #f5bc41a8;
    --red: #f55c41a8;
}

.none {
    display: none !important;
}

.todays-recipe,
.authors-container {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.page-break {
    margin: -15px;
}

.title-today,
.title-intro {
    text-align: center;
    padding-bottom: 2rem;
}

.authors-title {
    padding-top: calc(1rem + var(--navBar));
}

.title-today span,
.authors-title span {
    background-color: var(--white);
    padding: 10px;
    letter-spacing: 3px;
}

/* Today's recipe */
.recipe-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.img-container {
    width: 40%;
}

#recipe-img {
    width: 80%;
}

.recipe-text {
    width: 45%;
}

.goto-recipe-btn {
    display: inline-block;
    margin: 4%;
    text-transform: uppercase;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    color: var(--white);
    transition: 250ms;
    text-decoration: none;
}

.goto-recipe-btn:hover {
    background-color: #f55c41a8;
    scale: 1.02;
    color: black;
}

/* intro Author */
.authors-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.author {
    width: 50%;
    padding-top: 2rem;
}

.author-name {
    padding: 1.5rem 1.5rem 0.5rem;
}

.author-img {
    width: 50%;
    height: 300px;
    object-fit: contain;
}

.recipe-title {
    padding: 5% 0 0 0;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1rem;
}

.author-description {
    width: 80%;
    padding-top: 1rem;
    margin: 0 auto;
}

.to-top {
    display: none;
    inset: auto 2rem 2rem auto;
    position: fixed;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding: 1em;
    border-radius: 1em;
    transition: 500ms;
}

.to-top:hover {
    background-color: black;
    transition: 500ms;
}

#hero {
    position: absolute;
    left: 0;
    top: 0;
    width: 150%;
    height: 30%;
    display: flex;
    align-items: stretch;
    margin: 0 25%;
    padding-top: 11.5rem;
}
.recipe-btn {
    position: relative;
    width: 25%;
    z-index: 1;
    display: flex;
    align-items: center;
    z-index: 2;
    transform: scale(0.97);
    color: black;
}
.recipe-img {
    position: relative;
    display: block;
    max-width: 90%;
}
.recipe-img > img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 2;
}
.txt {
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    opacity: 0;
    padding: 1em 0 0 1em;
    border-left: 1px solid;
    z-index: 1;
    transform: scaleY(1) translateY(-50px);
    transition: transform 0.2s, opacity 0.5s;
    color: black;
}
h1 {
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
}
.recipe-btn:hover .txt {
    opacity: 1;
    transform: scaleY(1) translateY(0);
}
.fullBg {
    display: none;
}

.hero-container {
    position: relative;
    height: 450px;
}