a {
    text-decoration: none;
    
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.none {
    display: none !important;
}
.hero-page {
    width: 100%;
    background-color: aliceblue;
    position: relative;
    height: 300px;
}
.container {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    margin-top: -4rem;
    padding-top: 5rem;
}

/* title */
.title-today::after,
.title-intro::after {
    content: "";
    display: block;
    border-bottom: 1px solid #121212;
    margin: -17px 0 35px;
}

.title-today,
.title-intro {
    text-align: center;
}

.title-today span,
.title-intro span {
    background-color: #fff;
    padding: 10px;
    letter-spacing: 3px;
}

/* Today's recipe */
.reco-recipe {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

/* .reco-recipe-sent1,.reco-recipe-sent2,.reco-recipe-sent3,.reco-recipe-sent4{
    display: block;
} */

.pic-box {
    width: 40%;
}

.pic-today {
    width: 300px;
}

.reco-recipe-sent,
.reco-recipe-sent1,
.reco-recipe-sent2,
.reco-recipe-sent3 {
    width: 45%;
}

.btn,
.btn1,
.btn2,
.btn3 {
    display: inline-block;
    margin: 4%;
    text-transform: uppercase;
}

.btn a,
.btn1 a,
.btn2 a,
.btn3 a{
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    color: white;
    transition: 250ms;
    text-decoration: none;
}

.btn a:hover,
.btn1 a:hover,
.btn2 a:hover,
.btn3 a:hover{
    background-color: black;
    scale: 1.02;
}

/* intro Author */
.profile {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 5%;
}

.indivi {
    width: 50%;
    padding-top: 5%;
}

.atsu,
.naomi,
.juan,
.ozan {
    width: 50%;
    height: 300px;
    object-fit: contain;
}

.name {
    padding: 5% 0 0 0;
    font-size: 20px;
    font-weight: bold;
}

.indivi-sent {
    width: 80%;
    padding-top: 5%;
    margin: 0 auto;
}

/* footer */
.footer-box {
    display: flex;
    margin: 2% 5% 0 5%;
}

.footer-box p {
    padding-right: 5%;
}
.pic-hero {
    width: 400px;
}

.to-top{
    display: none;
    inset: auto 2rem 2rem auto;
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding: 1em;
    border-radius: 1em;
    transition: 500ms;
  }
  
  .to-top:hover{
    background-color: black;
    transition: 500ms;
  }



#wrap{
  position: absolute;
  left:0; top:0;
  width:150%;
  height:30%;
  display:flex;
  align-items:stretch;
  margin:0 25%;
  padding-top: 11.5rem;
}
.hb {
  position:relative;
  width:25%;
  z-index:1;
  display:flex;
  align-items:center;
  z-index:2;
  transform:scale(.97);
  color: black;
}
.c{
  position:relative;
  display:block;
  max-width:90%;
}
.c img {
  position:relative;
  display:block;
  width:100%;
  height:auto;
  z-index:2;
}
.txt {
  position:absolute;
  top:100%; left:10%;
  width:80%;
  opacity:0;
  padding:1em 0 0 1em;
  border-left:1px solid;
  z-index:1;
  transform:scaleY(1) translateY(-50px);
  transition:transform .2s, opacity .5s;
  color: black;
}
h1 {
  font-size:1.2em;
  font-weight:700;
  text-transform:uppercase;
}
.hb:hover .txt {
  opacity:1;
  transform:scaleY(1) translateY(0);
}
.fullBg {
	display: none;
}

.wrap-container{
    position: relative;
    height: 450px;
    
}
