html{
  /* scroll-behavior: smooth; */
}

.container{
  display: flex;
  flex-direction: column;
  margin-top: -1rem;

}
 .country{
   display: flex;
   height: calc(100vh - 4rem);
}

.country.colombia{
  background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../Images/colombia-bg.avif");
  background-attachment: fixed;
  background-size: cover;

}
.country.japan{
  background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../Images/japan-bg.jpg");
  background-attachment: fixed;
  background-size: cover;

}
.country.mexico{
  background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../Images/mexico-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.country.turkey{
  background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../Images/turkey-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.flag, .info{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  color: white;
}

.flag img{
  height: 50%;
}

.history{
  width: 50%;
}
.recipe{
  width: 50%;
}

.info-buttons{
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 1em;
  transition: 500ms;
}

.info-buttons:hover{
  background-color: black;
  transition: 500ms;
}

.to-top{
  display: none;
  inset: auto 2rem 2rem auto;
  position: fixed;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  padding: 1em;
  border-radius: 1em;
  transition: 500ms;
}

.to-top:hover{
  background-color: black;
  transition: 500ms;
}