.container{
  display: flex;
  flex-direction: column;
  margin-top: -1rem;

}
 .country{
   display: flex;
   height: calc(100vh - 4rem);
}

.country.colombia{
  background-image: url("../Images/colombia-bg.avif");
  background-attachment: fixed;
  background-size: cover;

}
.country.japan{
  background-image: url("../Images/japan-bg.jpg");
  background-attachment: fixed;
  background-size: cover;

}
.country.mexico{
  background-image: url("../Images/mexico-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.country.turkey{
  background-image: url("../Images/turkey-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.flag, .info{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.flag img{
  height: 50%;
}