*{ scroll-behavior: smooth; }

.hero-header {
    text-align: center;
    font-size: 50px;
}

.hero-header h2 {
    margin-top: 0%;
    font-style: italic;
}

.hero-container {
    background-color: #cccccc;
    background-image: linear-gradient(#FAE952, #F05D3C);
    margin-top: -1.5rem;
    padding: 2rem 0 .5rem;
}

.img-flags {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin-right: 30%;
    margin-left: 30%;
}

:root {
    --img-flag-width: 30vw;
    --img-flag-height: 20vh;
    --img-flag-elements: 4;
    --img-flag-elements-displayed: 2;
    --img-flag-element-width: calc(var(--img-flag-width)/var(--img-flag-elements-displayed));
    --img-flag-animation-duration: calc(var(--img-flag-elements)*4s);
}

.img-row {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--img-flag-animation-duration) linear infinite;
}
@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1*var(--img-flag-element-width)*var(--img-flag-elements))); }
}

.img-row li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--img-flag-element-width);
    flex-shrink: 0;
    white-space: nowrap;
}

.to-top{
    display: none;
    inset: auto 2rem 2rem auto;
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding: 1em;
    border-radius: 1em;
    transition: 500ms;
  }
  
.to-top:hover{
    background-color: black;
    transition: 500ms;
}

.history-content {
    padding: 2px 120px 50px 120px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
}

.history-content h3 {
    color: #CB591C;
}

.history-img {
    display: flex;
    justify-content: center;
}

.his-img-row {
    padding: 15px;
}

.history-text{
    padding-top: 4rem;
    margin-top: -4rem;
}