*{
    box-sizing: border-box;
}
:root {
    --navBar: 4rem;
    --white: white;
    --yellow: #f5bc41a8;
    --red: #f55c41a8;
}
.recipe-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0 15rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
}
.recipe-img {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}
.imgOverlay {
    background-image: linear-gradient(-180deg,transparent 3%,#000);
    bottom: 0;
    left: 0;
    opacity: .6;
    position: absolute;
    width: 100%;
    height: 50%;
}
.recipe-title {
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0 6.8rem 4.8rem;
    position: absolute;
    width: 100%;
}
.recipe-title span {
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    width: fit-content;
}
.icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px 150px;
}
.divider {
    height: 1px;
    background-color: var(--yellow);
    border: none    ;
}

.recipe-description{
    padding: 1rem 0;
}

.recipe-details {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;

}
.detail {
    display: flex;
    align-items: center;
    border: 2px solid var(--yellow);
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 10px 10px;
    padding-bottom: 20px;
}
.ingredients {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}
.ingredient {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    width: 40%;
}
.ingredient input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.ingredient:hover input ~ .checkmark {
    background-color: #ccc;
}
.ingredients_chechkbox input:checked ~ .chechkmark {
    background-color: var(--yellow);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.ingredient input:checked ~ .checkmark:after {
    display: block;
}
.ingredient .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.nutrition-facts {
    display: flex;
    align-items: center;
    border: 2px solid var(--yellow);
    border-radius: 50%;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 10rem;
    margin: 125px 100px;
}
.nutrition-facts p {
    text-align: center;
    margin-top: -15px;
}
.nutrition-facts h3 {
    margin-top: 0;
}
.checkbox-container {
    display: block;
    width: 50%;
}
.cooking-tips {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
}
.tips-box {
    display: flex;
    align-items: center;
    border: 2px solid var(--yellow);
    border-radius: 10px;
    flex-direction: column;
    width: 100%;
    margin: 10px ;
    padding: 10px 10px;
}
.tips-box h2 {
    margin: 1rem;
}
.tips-box  p {
    margin: 0;
}
.recipe-step-container {
    display: flex;
    flex-direction: column;
}
.steps-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.recipe-step-container img {
    height: auto;
    border-radius: 12px;
    display: inline-block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#chicken-img{
    width: 100%;
}

.to-top{
    display: none;
    inset: auto 2rem 2rem auto;
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding: 1em;
    border-radius: 1em;
    transition: 500ms;
  }
  
.to-top:hover{
    background-color: black;
    transition: 500ms;
}
