*, *::before, *::after{
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

:root{
  --navBar: 4rem;
}

.title{
  cursor: default;
}

.logo{
  height: 2rem;
}

.nav-bar{
  position: sticky;
  top: 0;
  background-color: #fffab4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  height: var(--navBar);
  width: 100%;
  box-shadow: 0px 4px #f5bc41bf;
  margin-bottom: 1.5rem;
  z-index: 5;
}

.nav-bar a{
  text-decoration: none;
  color: black;
  padding: 1rem;
  border-radius: 1em;
  transition: 500ms;
}

.nav-bar a:hover{
  background-color: #f55c41a8;
  transition: 500ms;
}

.home-button{
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.home-nav-link{
  margin: 0 1rem;
}

.nav-buttons{
  margin-right: 1rem;
}






